annotated-types
anyio
bcrypt
certifi
charset-normalizer
click
dnspython
email_validator
exceptiongroup
fastapi
h11
idna
iniconfig
packaging
passlib
pip
pluggy
pydantic
pydantic_core
Pygments
PyJWT
PyMySQL
pytest
python-dotenv
requests
setuptools
sniffio
SQLAlchemy
starlette
tomli
typing_extensions
typing-inspection
urllib3
uvicorn
